<%= render "home/navbar" %>

<div class="container">


<p id="notice"><%= notice %></p>
<a href="/signout"><span>Sign out</span></a>
<hr>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>
