
  <div class= "container">
    <h3 class="weight">We are a network of professional women (non-binary and trans folks welcome!) working in tech.</h3>
    <h5 class="weight">Need advice? Help with a project? Want to share wisdom? Meet like-minded people?</h5>
    <h5 class="weight">Join us!</h5>
    <div class="row">
        <a class="waves-effect waves-light btn amber" href="/auth/facebook/">Facebook</a>
        <a class="waves-effect waves-light btn amber" href="/auth/github/">Github</a>
        <a class="waves-effect waves-light btn amber" href="/auth/twitter/">Twitter</a>
        <a class="waves-effect waves-light btn amber" href="/auth/linkedin/">Linkedin</a>
    </div>
    <h6>Already a member.</h6>
  </div>


