
  <div class= "intro clearfix">
    <h1>We are a network of professional women (non-binary and trans folks welcome!) working in tech.</h1>
    <h2>Need advice? Help with a project? Want to share wisdom? Meet like-minded people?</h2>
    <h3>Join us!</h3>
    <a class="button" href="/auth/facebook/">Facebook</a>
    <a class="button" href="/auth/github/">Github</a>
    <a class="button" href="/auth/twitter/">Twitter</a>
    <a class="button" href="/auth/linkedin/">Linkedin</a>
    <h6>Already a member.</h6>
  </div>
