<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">LADY PROBLEMS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">PROJECTS</a></li>
      <li><a href="/">BOARDS</a></li>
      <li><a href="/">FIND</a></li>
      <li><a href="/">PROFILE</a></li>
    </ul>
  </div>
</nav>
