<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">TALENT-TAP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/pitches">PROJECTS</a></li>
      <li><a href="/boards">BOARDS</a></li>
      <li><a href="/users">FIND</a></li>
      <li><a href="/users/<%=current_user.id%>">PROFILE</a></li>
    </ul>
  </div>
</nav>
