  <%= f.check_box :web_developer? %>
    <%= f.check_box :project_mgmt? %>
     <%= f.check_box :ux_ui? %>

        <input type="checkbox" id="test5" />
        <label for="test5">Web Developer</label>
