<div class="container">

  <div class= "intro0">
    <h3>We are a network of professional women (non-binary and trans folks welcome!) working in tech.</h3>
    <h4>Need advice? Help with a project? Want to share wisdom? Meet like-minded people?</h4>
    <h5>Join us!</h5>
    <h6>Already a member.</h6>
  </div>


  <div class ="intro1">
    <h1>Are you a working professional?</h1>
    <a class="waves-effect waves-light btn-large amber">Yes</a>
    <a class="waves-effect waves-light btn-large amber">No, I'm a student</a>
  </div>

  <div class="intro2">
    <h1>What are your skills?</h1>
  </div>

</div>
