<div class ="intro1">
  <div class="container">
    <h1>Are you a working professional?</h1>
    <a class="yes waves-effect waves-light btn-large amber">Yes</a>
    <a class="no waves-effect waves-light btn-large amber">No, I'm a student</a>
  </div>
</div>

<div class="intro2">
  <div class="container">
  <h1>What are your skills?</h1>
  </div>
</div>
