<div class="container">

  <div class= "intro0">
    <h3>We are a network of professional women (non-binary and trans folks welcome!) working in tech.</h3>
    <h4>Need advice? Help with a project? Want to share wisdom? Meet like-minded people?</h4>
    <h5>Join us!</h5>
    <a class="waves-effect waves-light btn-large amber" href="/auth/facebook/">Facebook</a>
    <a class="waves-effect waves-light btn-large amber" href="/auth/github/">Github</a>
    <a class="waves-effect waves-light btn-large amber" href="/auth/twitter/">Twitter</a>
    <a class="waves-effect waves-light btn-large amber" href="/auth/linkedin/">Linkedin</a>
    <h6>Already a member.</h6>
  </div>

  <div class ="intro1">
    <h1>Are you a working professional?</h1>
    <a class="yes waves-effect waves-light btn-large amber">Yes</a>
    <a class="no waves-effect waves-light btn-large amber">No, I'm a student</a>
  </div>

  <div class="intro2">
    <h1>What are your skills?</h1>
    <form action="#">

</div>



<% if current_user.nil? %>

  <%= render "intro" %>

<%else%>

  <%= render "navbar" %>

  <div class="projects">
    <h3>Browse Latest Projects</h3>
  </div>

<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>
  <div class="carousel-item red white-text" href="#one!">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Second Panel</h2>
    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>

<<<<<<< HEAD
  <%= render "intro" %>


<% end %>

=======
  <div class="projects">
    <h3>Trending Boards</h3>
  </div>


<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>
  <div class="carousel-item red white-text" href="#one!">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Second Panel</h2>
    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>
>>>>>>> b165defcf94b276b2ddfbe215eb81c68505d40d1















