<%= form_for @feedback do |f| %>

  <div class="actions">
    <div style = "display:none">
      <%= f.radio_button :pitch_id, @pitch.id, checked: true%>
    </div>
    Leave comment:<%= f.text_area :content %><br>
      <%= f.submit %>
    </div>
  </div>
<% end %>
