// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro1 {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}

.container {
  margin: 200px auto;
  text-align: center;
}

.intro1 h1 {
  font-weight: 300;
  color: #383737;
  margin-bottom: 40px;
}

.intro1 a {
  margin-right: 20px;
}
